<footer class="footer-estsoftware">
    <div class="footer-left">
        <div class="logo-title-container">
            <img src="Logo-EST.svg" alt="logo" class="logo-footer">
            <h1 class="tittle-footer">EST SOFTWARE</h1>
        </div>
        <div class="contact-info">
            <p class="cel-phone"><i class="fas fa-phone"></i> +52 9613037813</p>
            <p class="email"><i class="fas fa-envelope"></i> shakerzest&#64;gmail.com</p>
        </div>
    </div>
    <div class="rights">
        <p>&copy; 2024 EST SOFTWARE. Todos los derechos reservados.</p>
    </div>
</footer>
