<app-header></app-header>
<div class="banner-container">
  <div class="content">
    <h1 class="banner-title">Impulsa tu negocio con<br>EST-SOFTWARE</h1>
    <p class="banner-description">Prueba nuestra solución. Contáctanos ahora.</p>
  </div>
  <div class="mockup-group">
    <img src="ipad mockup.avif" alt="ipad-mockup" class="ipad">
    <img src="phone mockup.avif" alt="phone-mockup" class="phone">
  </div>
</div>

<section class="promociones">
  <div class="promocional-container">
    <div class="text-container">
      <p class="promo-text">Diseño web atractivo</p>
      <h1 class="promo-title">Hasta <br>20% <br>de descuento</h1>
      <p class="promo-desc">Páginas web seleccionadas</p>
      <button class="btn-cotizar">Cotizar</button>
    </div>
    <img src="promocional01.png" alt="promocional" class="promocional-bans">
  </div>
  <div class="promocional-container">
    <div class="text-container">
      <p class="promo-text">Diseño web atractivo</p>
      <h1 class="promo-title">Hasta <br>20% <br>de descuento</h1>
      <p class="promo-desc">Páginas web seleccionadas</p>
      <button class="btn-cotizar">Cotizar</button>
    </div>
    <img src="promocional02.png" alt="promocional" class="promocional-bans">
  </div>
</section>

<section class="disponibilidad">
  <div class="disponibilidad-container">
    <app-card-disponibilidad 
      disponibilidad="Asesoramiento personalizado"
      imgSrc="iconos/Frame (1).svg"/>
    <app-card-disponibilidad
      disponibilidad="Consulta gratuita para tu proyecto web"
      imgSrc="iconos/Frame.svg"/>
    <app-card-disponibilidad
      disponibilidad="Compromiso de calidad"
      imgSrc="iconos/Frame (2).svg"/>
    <app-card-disponibilidad 
      disponibilidad="Disponible para ti 24/7"
      imgSrc="iconos/Frame (3).svg"/>
  </div>
</section>

<section [ngClass]="{'contacto': true, 'open': formVisible}">
  <div class="contacto-form">
    <h1 class="contacto-form-tittle">Déjanos tu nombre y correo electrónico</h1>
    <h2 class="contacto-msj">Nos pondremos en contacto a través de Gmail.</h2>
    <div class="input-container">
      <button class="btn-contacto" (click)="toggleForm()">
        <i class="fa-solid fa-paper-plane"></i> Suscribirse
      </button>
      <div *ngIf="formVisible" class="form-fields">
        <input type="text" [(ngModel)]="nombre" placeholder="Ingresa tu nombre aquí" class="campo-contacto">
        <input type="text" [(ngModel)]="email" placeholder="Ingresa tu email aquí" class="campo-contacto">
        <input type="text" [(ngModel)]="celular" placeholder="Ingresa tu número de celular aquí" class="campo-contacto">
        <textarea [(ngModel)]="descripcion" placeholder="Ingresa una breve descripción aquí" class="campo-contacto"></textarea>
        <button class="btn-enviar" (click)="submitForm()">
          <i class="fa-solid fa-paper-plane"></i> Enviar
        </button>
      </div>
    </div>
  </div>
</section>

<section class="propuesta">
  <div class="propuesta-vertical">
    <div class="text-content">
      <h1 class="tittle-propuesta">Nuestra propuesta</h1>
      <p class="indicador">/01</p>
      <h2 class="sub-propuesta">Experiencia Personalizada</h2>
      <p class="messaje-propuesta">Creamos soluciones web a la medida de tus necesidades, brindando una experiencia personalizada que impulse el crecimiento de tu negocio.</p>
    </div>
    <img src="Container.png" alt="propuesta-img" class="propuesta-vertical-imagen">
  </div>

  <div class="propuesta-horizontal">
    <img src="wow-image.png" alt="propuesta" class="propuesta-horizontal-imagen">
    <div class="text-content">
      <h1 class="tittle-propuesta">Tecnología innovadora</h1>
      <p class="indicador">/02</p>
      <p class="messaje-propuesta">Nuestro enfoque innovador y el uso de tecnologías de vanguardia nos permite desarrollar soluciones web que se adaptan a las demandas cambiantes del mercado.</p>
    </div>
  </div>
</section>

<section class="promo">
  <div class="promo-content">
    <h1 class="promo-tittle">¿Buscas ayuda? Ve a la <br>página de Ayuda</h1>
    <p class="promo-message">Con gusto te apoyaremos para cualquier duda</p>
    <button class="btn-ayuda">Ir al Centro de Ayuda</button>
  </div>
  <img src="Group 2.png" alt="imagen de ayuda" class="promo-image">
</section>

<section class="comentarios">
  <div class="comentarios-post">
    <h1 class="comentarios-tittle">Ayúdanos a mejorar</h1>

    <input type="text" [(ngModel)]="name" placeholder="Ingrese su nombre" class="campo-comentario-name">
    <textarea [(ngModel)]="coment" class="campo-comentario" placeholder="Ingrese su comentario aquí"></textarea>
    <button class="btn-comentario" (click)="submitComent()">
      <i class="fa-solid fa-comment"></i>Enviar
    </button>
  </div>
</section>

<app-footer></app-footer>

<!-- Modal de Éxito -->
<div class="alert-modal alert-modal-exito" [ngClass]="{'show': showAlert && alertType === 'success'}">
  <div class="modal-content">
    <h1 class="tittle-modal">¡Éxito!</h1>
    <p class="mensaje-alert">{{ alertMessage }}</p>
    <i class="fa-solid fa-check-circle"></i>
  </div>
  <button class="btn-confirm" (click)="closeModal()">Aceptar</button>
</div>

<!-- Modal de Error -->
<div class="alert-modal alert-modal-error" [ngClass]="{'show': showAlert && alertType === 'error'}">
  <div class="modal-content">
    <h1 class="tittle-modal">¡Error!</h1>
    <p class="mensaje-alert">{{ alertMessage }}</p>
    <i class="fa-solid fa-triangle-exclamation"></i>
  </div>
  <button class="btn-confirm" (click)="closeModal()">Aceptar</button>
</div>

<!-- Modal de Advertencia -->
<div class="alert-modal alert-modal-warning" [ngClass]="{'show': showAlert && alertType === 'warning'}">
  <div class="modal-content">
    <h1 class="tittle-modal">Advertencia</h1>
    <p class="mensaje-alert">{{ alertMessage }}</p>
    <i class="fa-solid fa-exclamation-circle"></i>
  </div>
  <button class="btn-confirm" (click)="closeModal()">Aceptar</button>
</div>
