.banner-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    color: white;
    background: linear-gradient(45deg, #0A1224, #1D3A4F, #121534);
    overflow: hidden;
  }
  
  .content {
    max-width: 40%;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease-out forwards;
  }
  
  .banner-title {
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #6A9ECF, #FFFFFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .banner-description {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  .mockup-group {
    position: relative;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .ipad,
  .phone {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease-out forwards;
  }
  
  .ipad {
    animation-delay: 0.5s;
    width: 350px;
    border: 20px solid #000000;
    border-radius: 30px;
    margin-left: -50px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  }
  
  .phone {
    animation-delay: 1s;
    position: absolute;
    width: 200px;
    bottom: -70px;
    border: 10px solid #000000;
    border-radius: 20px;
    left: 100px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  }
  
  .ipad:hover,
  .phone:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    transform: translateY(-10px);
  }
  
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .contacto {
    width: 100%;
    min-height: 450px;
    background-color: #751FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: min-height 0.3s ease-in-out;
  }

  .contacto.open {
    min-height: 900px;
  }

  .contacto-form {
    text-align: center;
  }
  
  .contacto-form-tittle, 
  .contacto-msj {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
  }
  
  .contacto-form-tittle {
    font-size: 36px;  
  }
  
  .contacto-msj {
    font-size: 28px;  
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    gap: 15px;
  }
  
  .campo-contacto {
    width: 150%;
    max-width: 800px;
    height: 50px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    padding: 0 20px;
  }
  
  .btn-contacto {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    width: 80%;
    max-width: 800px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
  .btn-enviar {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    width: 150%;
    max-width: 800px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  .btn-contacto i {
    margin-right: 10px;
  }  

  .form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .promociones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.promocional-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 914px;
}

.text-container {
    position: absolute;
    left: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.promo-text, .promo-title, .promo-desc {
    margin: 5px 0;
}

.promo-title {
    font-size: 3rem;
    font-weight: bold;
}

.promocional-bans {
    width: 100%;
    max-width: 1200px; 
    height: auto;
}

.btn-cotizar {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}

.disponibilidad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.disponibilidad-container {
  background-color: #FFFFFF;
  width: 97%;
  height: 120px;
  display: flex;            
  justify-content: center;
  align-items: center;
  gap: 80px;               
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tittle-propuesta,
.indicador,
.sub-propuesta,
.messaje-propuesta {
  font-family: 'Inter', sans-serif;
  opacity: 0; 
  animation: fadeIn 1s forwards;
}

.propuesta {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center; 
  padding: 20px;
  width: 97%;
  box-sizing: border-box;
  margin: 20px auto; 
  background-color: #FFFFFF;
}


.propuesta-vertical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-content {
  flex: 1;
  text-align: left;
  margin-right: 15px; 
  margin-left: 50px;
  animation: slideInLeft 1s forwards;
}

.tittle-propuesta {
  font-size: 44px;
  color: #333;
  margin-bottom: 10px;
  animation-delay: 0.3s;
}

.indicador {
  font-size: 18px;
  color: #999;
  margin-bottom: 10px;
  animation-delay: 0.4s;
}

.sub-propuesta {
  font-size: 28px;
  color: #161635;
  margin-bottom: 10px;
  animation-delay: 0.5s;
}

.messaje-propuesta {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  animation-delay: 0.6s;
}

.propuesta-vertical-imagen {
  width: 250px;
  border-radius: 30px;
  border: 10px solid #000000;
  margin-left: 20px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.7s;
  transition: transform 0.3s ease-in-out;
  margin-right: 50px;
}

.propuesta-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px; 

}

.propuesta-horizontal-imagen {
  border-radius: 30px;
  border: 10px solid #000000;
  margin-right: 50px; 
  margin-left: 50px;
  transition: transform 0.3s ease-in-out; 
}

.propuesta-horizontal-imagen:hover, .propuesta-vertical-imagen:hover {
  transform: scale(1.05); 
}

.promo {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.promo-image {
  width: 100%;
  height: auto;
}

.promo-content {
  position: absolute;
  left: 40px;
  top: 40px;
  color: #FFFFFF;
  z-index: 2;
}

.promo-tittle {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}

.promo-message {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin-bottom: 40px;
}

.btn-ayuda {
  background-color: #751FFF;
  border: none;
  color: #FFFFFF;
  height: 60px;
  width: 250px;
  border-radius: 100px;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.comentarios {
  display: flex;
  flex-direction: column;  
  align-items: center; 
  justify-content: center; 
  padding: 20px;
  width: 97%;
  box-sizing: border-box;
  margin: 0 auto; 
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

.comentarios-post {
  text-align: center; 
  width: 100%; 
  max-width: 500px;
}

.comentarios-tittle {
  font-family: 'Inter', sans-serif;
  font-size: 34px;
  margin-bottom: 20px; 
}

.campo-comentario-name {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  width: 100%;
  height: 50px; 
  padding: 10px;
  box-sizing: border-box; 
  margin-top: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
}

.campo-comentario {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100px; 
  padding: 10px;
  box-sizing: border-box; 
  margin-top: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  resize: none; 
}

.btn-comentario {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  height: 50px;
  width: 500px;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 10px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
    .content {
      max-width: 100%;
      text-align: center;
    }
  
    .mockup-group {
      display: none;
    }
  
    .banner-title {
      font-size: 2rem;
    }
  }

  .alert-modal {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 90%;
    max-width: 400px;
    overflow: hidden;
    display: none; 
  }

  .alert-modal.show {
    display: block; 
  }
  
  .alert-modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .tittle-modal {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #333;
    margin-bottom: 15px;
  }
  
  .mensaje-alert {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #666;
    margin-bottom: 20px;
  }
  
  .alert-modal i {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .btn-confirm {
    background-color: #751FFF;
    color: #fff;
    border: none;
    padding: 10px 100px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-confirm:hover {
    background-color: #6200ea;
  }
  
  .alert-modal-success {
    background-color: #ffffff;
    border: 2px solid #28a745;
  }
  
  .alert-modal-success i {
    color: #28a745;
  }
  
  .alert-modal-error {
    background-color: #ffffff;
    border: 2px solid #dc3545;
  }
  
  .alert-modal-error i {
    color: #dc3545;
  }
  
  .alert-modal-warning {
    background-color: #ffffff;
    border: 2px solid #ffc107;
  }
  
  .alert-modal-warning i {
    color: #ffc107;
  }
  