<app-header></app-header>
<div class="banner-container">
  <div class="content">
    <h1 class="banner-title">Impulsa tu negocio con<br>EST SOFTWARE</h1>
    <p class="banner-description">Prueba nuestra solución. Contáctanos ahora.</p>
  </div>
  <div class="mockup-group">
    <img src="ipad mockup.avif" alt="ipad-mockup" class="ipad">
    <img src="phone mockup.avif" alt="phone-mockup" class="phone">
  </div>
</div>

<section class="promociones">
  <div class="promocional-container">
    <div class="text-container">
      <p class="promo-text">Diseño web atractivo</p>
      <h1 class="promo-title">Hasta <br>20% <br>de descuento</h1>
      <p class="promo-desc">Páginas web seleccionadas</p>
      <button class="btn-cotizar">Cotizar</button>
    </div>
    <img src="promocional01.png" alt="promocional" class="promocional-bans">
  </div>
  <div class="promocional-container">
    <div class="text-container">
      <p class="promo-text">Diseño web atractivo</p>
      <h1 class="promo-title">Hasta <br>20% <br>de descuento</h1>
      <p class="promo-desc">Páginas web seleccionadas</p>
      <button class="btn-cotizar">Cotizar</button>
    </div>
    <img src="promocional02.png" alt="promocional" class="promocional-bans">
  </div>
</section>

<section class="disponibilidad">
  <div class="disponibilidad-container">
    <app-card-disponibilidad 
      disponibilidad="Asesoramiento personalizado"
      imgSrc="iconos/Frame (1).svg"/>
    <app-card-disponibilidad
      disponibilidad="Consulta gratuita para tu proyecto web"
      imgSrc="iconos/Frame.svg"/>
    <app-card-disponibilidad
      disponibilidad="Compromiso de calidad"
      imgSrc="iconos/Frame (2).svg"/>
    <app-card-disponibilidad 
      disponibilidad="Disponible para ti 24/7"
      imgSrc="iconos/Frame (3).svg"/>
  </div>
</section>

<section class="contacto">
  <div class="contacto-form">
    <h1 class="contacto-form-tittle">Dejanos tu correo electronico</h1>
    <h2 class="contacto-msj">Nos pondremos en contacto a través de Gmail.</h2>
    <div class="input-container">
      <input type="text" placeholder="Ingresa tu email aquí" class="campo-contacto">
      <button class="btn-contacto">
        <i class="fa-solid fa-paper-plane"></i> Suscribirse
      </button>
    </div>
  </div>
</section>

<section class="propuesta">
  <div class="propuesta-vertical">
    <div class="text-content">
      <h1 class="tittle-propuesta">Nuestra propuesta</h1>
      <p class="indicador">/01</p>
      <h2 class="sub-propuesta">Experiencia Personalizada</h2>
      <p class="messaje-propuesta">Creamos soluciones web a la medida de tus necesidades, brindando una experiencia personalizada que impulse el crecimiento de tu negocio.</p>
    </div>
    <img src="Container.png" alt="propuesta-img" class="propuesta-vertical-imagen">
  </div>

  <div class="propuesta-horizontal">
    <img src="wow-image.png" alt="propuesta" class="propuesta-horizontal-imagen">
    <div class="text-content">
      <h1 class="tittle-propuesta">Tecnología innovadora</h1>
      <p class="indicador">/02</p>
      <p class="messaje-propuesta">Nuestro enfoque innovador y el uso de tecnologías de vanguardia nos permite desarrollar soluciones web que se adaptan a las demandas cambiantes del mercado.</p>
    </div>
  </div>
</section>

<section class=""></section>

