<app-header></app-header>
<div class="dashboard-container">
  <app-sidebar></app-sidebar>
  <div class="content">
    <h1 class="tittle-coments">Bienvenido a Comentarios</h1>
    <ng-container *ngIf="comentarios.length > 0; else noComents">
      <div class="cards-container">
        <app-card-comentarios
          *ngFor="let coments of comentarios"
          [coment_user]="coments.name_user_coment"
          [comentario]="coments.coment_text">
        </app-card-comentarios>
      </div>
    </ng-container>
    <ng-template #noComents>
      <p>No hay comentarios pendientes.</p>
    </ng-template>
  </div>
</div>
