.dashboard-container {
    display: flex;
  }
  
  .content {
    margin-left: 250px; 
    padding: 20px;
    flex-grow: 1;
  }
  
  .tittle-emails {
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    margin-bottom: 20px; 
  }
  
  .cards-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 16px; 
  }
  