<app-header></app-header>

<div class="login-container">
  <div class="branding">
    <img
      src="Logo-EST.svg"
      alt="Logo EST-SOFTWARE"
      class="branding-logo"
    />
    <h2 class="branding-title">EST-SOFTWARE</h2>
    <p class="develop-title">(Develop)</p>
  </div>

  <form class="login-form" (submit)="onSubmit($event)">
    <label for="emailOrUserName" class="login-label">
      <i class="fas fa-envelope"></i> Correo Electrónico o Nombre de Usuario
    </label>
    <div class="input-wrapper">
      <input
        type="text"
        id="emailOrUserName"
        placeholder="Ingresa tu correo o nombre de usuario"
        class="login-input"
      />
    </div>

    <label for="password" class="login-label">
      <i class="fas fa-lock"></i> Contraseña
    </label>
    <div class="input-wrapper">
      <input
        type="password"
        id="password"
        placeholder="Ingresa tu contraseña"
        class="login-input"
      />
    </div>

    <button type="submit" class="login-button">
      <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
    </button>
  </form>
</div>

<!-- Modal de Éxito -->
<div class="alert-modal alert-modal-exito" [ngClass]="{'show': showAlert && alertType === 'success'}">
  <div class="modal-content">
    <h1 class="tittle-modal">¡Éxito!</h1>
    <p class="mensaje-alert">{{ alertMessage }}</p>
    <i class="fa-solid fa-check-circle"></i>
  </div>
  <button class="btn-confirm" (click)="closeModal()">Aceptar</button>
</div>

<!-- Modal de Error -->
<div class="alert-modal alert-modal-error" [ngClass]="{'show': showAlert && alertType === 'error'}">
  <div class="modal-content">
    <h1 class="tittle-modal">¡Error!</h1>
    <p class="mensaje-alert">{{ alertMessage }}</p>
    <i class="fa-solid fa-triangle-exclamation"></i>
  </div>
  <button class="btn-confirm" (click)="closeModal()">Aceptar</button>
</div>

<!-- Modal de Advertencia -->
<div class="alert-modal alert-modal-warning" [ngClass]="{'show': showAlert && alertType === 'warning'}">
  <div class="modal-content">
    <h1 class="tittle-modal">Advertencia</h1>
    <p class="mensaje-alert">{{ alertMessage }}</p>
    <i class="fa-solid fa-exclamation-circle"></i>
  </div>
  <button class="btn-confirm" (click)="closeModal()">Aceptar</button>
</div>
