.alert-modal {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 90%;
  max-width: 400px;
  overflow: hidden;
  display: none;
  font-family: 'Inter', sans-serif;
}

.alert-modal.show {
  display: block;
}

.tittle-modal {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  color: #333333; /* Texto gris oscuro */
  margin-bottom: 15px;
}

.mensaje-alert {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: #666666; 
  margin-bottom: 20px;
}

.alert-modal i {
  font-size: 50px;
  margin-bottom: 20px;
}

.btn-confirm {
  background-color: #00bcd4; 
  color: #ffffff;
  border: none;
  padding: 10px 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-confirm:hover {
  background-color: #0097a7;
}

.alert-modal-success {
  background-color: #ffffff;
  border: 2px solid #28a745;
}

.alert-modal-success i {
  color: #28a745;
}

.alert-modal-error {
  background-color: #ffffff;
  border: 2px solid #dc3545;
}

.alert-modal-error i {
  color: #dc3545;
}

.alert-modal-warning {
  background-color: #ffffff;
  border: 2px solid #ffc107;
}

.alert-modal-warning i {
  color: #ffc107;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  width: 600px;
  height: 500px;
  margin: 30px auto;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-icon {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.login-title {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  color: #00bcd4;
  text-align: center;
}

.form-centered {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  position: relative;
}

.input-group_input {
  font-family: 'Inter', sans-serif;
  color: #333333;
  width: 500px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #ffffff;
  transition: border-color 500ms;
}

.input-group_input:is(:focus, :valid) {
  border-color: #00bcd4;
}

.input-group_label {
  font-family: 'Inter', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  color: #999999;
  transition: translate 500ms, scale 500ms;
}

.input-group_input:focus + .input-group_label,
.input-group_input:valid + .input-group_label {
  padding-inline: 5px;
  translate: 10px -14px;
  scale: 0.8;
  background-color: #ffffff;
}

.ingresar-btn {
  background-color: #00bcd4;
  border: none;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.ingresar-btn:hover {
  background-color: #0097a7;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666666;
  font-size: 1.2em;
}
